body { 
		/* background */
	background-color:darkslategray;

	/* alinhamento e tamanho */
	width: 80%;
	margin: auto;
	}

	section	{
		padding-left: 256px;
		padding-right: 256px;
		padding-top: 64px;
		padding-bottom: 64px;
	background-color: peachpuff;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	}


	/*topo, título:*/

	.nome {
	background-color: antiquewhite;
	color: darkred;
	text-align: center;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	}

	#imginicio {
	width: 12%
	}




	.sumário {
	background-color: antiquewhite;
	color: brown;
	text-align: center;
	padding:5px;
	margin-bottom: 30px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	}

	/*centralização dos títulos e números no sumário*/
	ol {
		text-align: center;
		list-style-position: inside;
	}






	.titulodolivro{
	color: brown;
	text-align: center;
	}



	#l1, #l3, #l5{
		background-color: bisque;
	}




	/* tabela  */

	table {
		width: 100%;
	}

	td {
	background-color: brown;
	text-align: center;
	color: antiquewhite;
	}

	th {
	background-color: darkslategray;
	text-align: center;
	color: antiquewhite;
	}

	td, th {
		border-width: 2px;
		border-style: solid;
		border-color: teal;
		padding: 7px;
		border-radius: 20px;
	}






	img {
	width: 15%;
	display: block;
	margin: auto;
	border-radius: 20px;
	}




	span {
	color: brown;
	}




	p {
	text-align: justify;
	text-indent: 5%;
	}



	a:link {
		color: black;
	}

	a:visited {
		color: firebrick;
	}

	a:hover {
		color: maroon;
	}

	q: active {
		color:  firebrick;
	}











	h3 {
	color: firebrick;
	}
